/* style.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

header {
    background-color: #252525;
    color: #42b04e;
    padding: 20px;
    text-align: left;
}

/* Basic Styling */
.fade-in-text {
    font-size: 20px;
    font-family: Arial, sans-serif;
    /* color: #333; */
    color: #42b04e;

    opacity: 0; /* Start fully transparent */
    transform: translateY(-50px); /* Start 50px above the final position */
    animation: fadeIn .7s ease-out forwards; /* Animation name, duration, timing function, fill mode */
}

/* Keyframes for the animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes faderight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeleft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.content-section1 {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    color: #252525;
    background-color: #f0f0f0;

}

.content-section2 {
    /* Change the font color */
    color: #f0f0f0;
    
    background-color: #252525;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    h2 {
        color: #42b04e;
    }
}


.text {
    flex: 1;
    /* animation: fadeleft .5s ease-out forwards; */
    max-width: 50%;
}

.media {
    display: flex;
    flex: 1;
    /* animation: faderight .5s ease-out forwards; */
    max-width: 50%;
}
.mediai {
    display: flex;
    max-width: 50%;
}

.mediai img {
    width: 33%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

/* Responsive design */
@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
    }

    .text, .media {
        max-width: 100%;
    }
}
